
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essencialmente</title>
    <link rel="stylesheet" href="../static/css/styles.css">
   
</head>
<body>
    
    <div class="header">
        <header>
            <div class="headerImg">
                <img src="../static/images/Avaliação layout/Avaliação 01-Parte01/logo.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a href="">Avaliações</a></li>
                    <li><a href="">Relatórios</a></li>
                    <li><a href="">Normas das avaliações</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><span><a href="">Entrar</a></span></li>
                </ul>
            </div>
        </header>
    </div>
    <main>
        <div class="main-left">
            <h1>O acompanhamento de crianças e adolescentes com foco no seu bem estar!</h1>
            <a href="">Saiba Mais</a>
        </div>
        <div class="main-right">
            <div class="img"><img src="../static/images/Avaliação layout/Avaliação 01-Parte01/img-main.png" alt=""></div>
        </div>
    </main>
    <section>
        <div class="title">
            <h1>Avaliações</h1>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-img">
                    <img src="../static/images/Avaliação layout/Avaliação 01-Parte02/img_card1.png" alt="">
                </div>
                <div class="card-text">
                    <h1>Avaliação da Antropometria e Composição Corporal</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolore aliquam praesentium iure ea dolorum atque, maxime commodi id vero aspernatur reiciendis temporibus aperiam itaque placeat ex iste repellat recusandae?</p>
                </div>
                <div class="card-button">
                    <a href="">Avaliar</a>
                </div>
            </div>
    
            <div class="card">
                <div class="card-img">
                    <img src="../static/images/Avaliação layout/Avaliação 01-Parte02/img_card2.png" alt="">
                </div>
                <div class="card-text">
                    <h1>Avaliação IMC</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolore aliquam praesentium iure ea dolorum atque, maxime commodi id vero aspernatur reiciendis temporibus aperiam itaque placeat ex iste repellat recusandae?</p>
                </div>
                <div class="card-button">
                    <a href="formImc">Avaliar</a>
                </div>
            </div>
    
            <div class="card">
                <div class="card-img">
                    <img src="../static/images/Avaliação layout/Avaliação 01-Parte02/img_card3.png" alt="">
                </div>
                <div class="card-text">
                    <h1>Avaliação Abominais</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolore aliquam praesentium iure ea dolorum atque, maxime commodi id vero aspernatur reiciendis temporibus aperiam itaque placeat ex iste repellat recusandae?</p>
                </div>
                <div class="card-button">
                    <a href="">Avaliar</a>
                </div>
            </div>
        </div>
    </section>
    
    <foooter>
    <div class="footer">
        <div class="contatos">
            <h2>Contatos</h2>
            <div class="cont-group">
                <div class="cont-logo">
                    <img src="../static/images/Avaliação layout/Avaliação 01-Parte03/icon-email.png" alt="">
                </div>
                <div class="cont-text">essencialmente@gmail.com</div>
            </div>            <div class="cont-group">
                <div class="cont-logo">
                    <img src="../static/images/Avaliação layout/Avaliação 01-Parte03/icon-home.png" alt="">
                </div>
                <div class="cont-text">Rua La Salle, 53 Xanxerê - SC</div>
            </div>
        </div>
        <div class="redes">
            <h2>Redes Sociais</h2>
            <div class="red-img">
                <img src="../static/images/Avaliação layout/Avaliação 01-Parte03/icon-insta.png" alt="">
                <img src="../static/images/Avaliação layout/Avaliação 01-Parte03/icon-twitter.png" alt="">
                <img src="../static/images/Avaliação layout/Avaliação 01-Parte03/icon-whats.png" alt="">
            </div>
        </div>
    </div>
        
    </foooter>
</body>
</html>